@import "tailwindcss";

/* Disable selection for all elements except inputs and textareas */
*:not(input):not(textarea) {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
